* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
.page {
  position: relative;

  font-family: Arial;
  background-color: #FFD402;
  padding: 50px;
  width:100%;
  height:100%;

}
.log-terminal{
  display:block;
  width:100%;
  height:300px;
  background-color:#000000;
  overflow:scroll;
  color: green;
  font-family: arial, "lucida console", sans-serif;
  font-size: 9px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */

.content {

  padding: 0 18px;
  max-height: 300px;
  min-height: 1px;

  transition: max-height 0.2s ease-out;

  display:block;
  width:100%;
  /*height:300px;*/
  background-color:#000000;
  overflow:scroll;
  color: green;
  font-family: arial, "lucida console", sans-serif;
  font-size: 9px;
}

.login {
  margin: 20px auto;
  width: 300px;
}
.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.dashboard-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}
.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}

.dashboard-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #FFD402;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #02023e;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
