<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--<p>-->
  <!--enter the reference name of your file-->
<!--</p>-->
<!--<input #fileName (keyup)="0" placeholder='file reference'>-->
<!--<p>ref: {{fileName.value}}</p>-->
<!--<input ng2FileSelect type="file" accept=".xml" [uploader]="uploader" (beforeUpload)="beforeUpload(fileName.value)"/>-->


<div class="page">
<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Add an image</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
      </div>

      <!--<div class="control-group">-->
        <!--<input type="password" class="login-field" value="" placeholder="password" name="password">-->
        <!--<label class="login-field-icon fui-lock" for="login-pass"></label>-->
      <!--</div>-->

      <button type="button" class="btn btn-success btn-s"
              (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length" >
        Upload an Image
      </button>
      <br>
    </div>
  </div>
</div>

</div>
