<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<nav>
  <a *ngIf="dashboard"  (click)="switching(true,false)" routerLink="/periodic-table-management" routerLinkActive="active">Periodic table management</a>
  <a *ngIf="management"   (click)="switching(false,true)" routerLink="/periodic-table-dashboard" routerLinkActive="active">Periodic table dashboard</a>
</nav>
</div>

<router-outlet></router-outlet>
